html { 
    scroll-padding-top: 100px;
}

* {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------ NAVBAR ----------------------------------------------------------------*/
#navbarmenu {
    background-color:#41B45A;
    opacity: 90%;
}

.nav-colour {
    background-color:#41B45A;
    height: 100px;
}

#title-text {
    font-family: "Pangolin", cursive;
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.header-link-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

a.nav-link.header-link-text:hover {
    color: #15795b;
}

/* --------------------------------------------------- INDEX PAGE JUMBOTRON ----------------------------------------------- */
.my-section {
    min-height: 80vh;
}

.my-jumbotron {
    background: linear-gradient(rgba(0.4, 0, 1, 0.2), rgba(0.4, 0, 1, 0.2)), url(../images/rhino2.jpg) no-repeat center;
    background-size: cover;
    padding-top:65px;
    color: transparent;
    height: 100vh;
}

.jumbotron {
    background-color: transparent;
    padding: 2.5%;
    margin-bottom: -17px;
}

.jumbotron h2 {
    color: white;
    padding-top: 20vh;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.jumbotron h3 {
    color: white;
    padding-top: 1vh;
    font-family: "Pangolin", cursive;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.jumbotron p {
    padding-top: 1%;
    padding-bottom: 4%;
    font-family: "Roboto", sans-serif;
}

.btn-large {
    background-color:#41B45A;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}

.btn-large:hover {
    background-color: #15795b;
    color: white;
}

/* ------------------------------------------------ INDEX PAGE CAROUSEL/TESTIMONALS --------------------------------------------*/

.carousel-item p i {
    font-size: 20px;
    text-shadow: 1px 1px black;
    font-family: "Roboto", sans-serif;
}

#testimonal .container-fluid {
    margin: 0%;
    padding-left: 0%; 
}

.carousel-control-prev {
    left: 70px;
}

.carousel-control-next {
    right: 70px;
}

.carousel-indicators {
    top: 120px;
}

.carousel-inner h5 {
    font-family: "Roboto", sans-serif;
}

/*-----------------------------about page */
.about-page {
    padding-top: 10px;
}

.about-text {
    font-family: "Roboto", sans-serif;
}

#recent-title {
    font-family: "Patrick Hand", "Roboto", cursive, sans-serif;
    font-size: 20px;
    color:#15795b;
    font-weight: bold;
}

.recent-text {
    font-family: "Patrick Hand", "Roboto", cursive, sans-serif;
    font-size: 18px;
}

.recent-sightings {
    padding-top: 8px;
    background-color:#f2e7cf;
    border-radius: 15px;
    box-shadow: 0 0 10px;
    right: 0.5%;
}

.about-img-one {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 50% 68%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-img-two {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titles-about {
    color:#15795b;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.about-buttons {
    background-color: #41B45A;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}


.about-buttons:hover {
    background-color: #15795b;
    color: white;
}

dt {
    color:#15795b;
    font-weight: bold;
}
/* ----------------------------------------------------------- IMAGE GALLERY PAGE-------------------------------------------- */
.image-gallery {
    padding-bottom: 20px;
    background-color: #91d18b;
    border-top: 5px white;
}

#images-text-title {
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding-top: 1.5%;
    margin-bottom: 0!important;
    text-shadow: 0.5px 0.5px black;
}

#images-text {
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    
}

.gallery-photos {
    margin-top: 25px;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.gallery-photos:hover {
    transform: scale(1.1);
    transition: 1s;
    z-index: 2;
}

/* ------------------------------------------------------------- CONTACT PAGE --------------------------------------------------*/

.contact-us {
    background-color: #f2e7cf;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-text {
    color:#15795b;
    font-weight: bold;
}

.contact-text-title {
    color: #15795b;
}

.contact-button {
    background-color:#41B45A;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}

.contact-button:hover {
    background-color: #15795b;
    color: white;
}
/* --------------------------------------------------------------- FOOTER ------------------------------------------------------*/

.my-footer {
    background-color:#41B45A;
    height: 100px;
}

.footer-icons {
    color: white;
    padding-top:30px; 
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.footer-icons:hover {
    color: #15795b;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
    font-size: 18px;
}

#footer-email {
    color: white;
}

#footer-email:hover {
    color: #15795b;
}

/* --------------------------------------------------------------- Media Queries ------------------------------------------------------*/

@media (max-width: 360px) { 
    .jumbotron h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 360px) { 
    .jumbotron h3 {
        font-size: 1.5rem; 
    }
}

@media (max-width: 530px) { 
    .jumbotron h2 {
        padding-top: 5vh;
    }
}

@media (max-width: 530px) { 
    .my-jumbotron {
        background: url(../images/elephant4.jpg) no-repeat center;
        filter: brightness(130%);
        background-size: cover;
        height: 100vh;
    }
}

@media (max-width: 530px) { 
    #testimonal .container-fluid {
        padding-top: 20vh;
    }
}

@media (max-width: 530px) { 
    .my-footer {
        height: 100%;
    }
}

@media screen and (max-width: 629px) { 
  .carousel-control-prev {
    display: none;
  }
}

@media screen and (max-width: 629px) { 
  .carousel-control-next {
    display: none;
  }
}

@media screen and (max-width: 629px) { 
  .carousel-indicators {
    display: none;
  }
}

@media (min-width: 768px) {  
 .medium-device {
        flex: 0 0 100%;
        max-width: 100%;
 }
}

@media (max-width: 768px) { 
    .my-footer {
        height: 100%;
    }
}

@media (min-width: 992px) { 
    .jumbotron h2 {
        font-size: 2rem;
    }
}

@media (min-width: 992px) { 
    .jumbotron h3 {
        font-size: 1.75rem;
        padding-top: 1vh;
    }
}

@media screen and (max-width: 992px) { 
  .recent-sightings {
    display: none;
  }
}

@media (min-width: 992px) {  
 .medium-device {
        flex: 0 0 75%;
        max-width: 75%;
 }
}

@media (max-width: 998px) { 
    .my-footer {
        height: 100%;
    }
}