@import url('https://fonts.googleapis.com/css2?family=Roboto: 100, 200, 300, 400, 500, 600, 700|Exo:100, 200, 300, 400, 500, 600, 700');

/* ---------------------------- header */
.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.header-link-text {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color:black;
    text-transform: uppercase;
    padding-right: 100px;
}

#nav-image {
    padding-left: 5px;
}

/* ---------------------------- colors */
.banner-placeholder {
    background-color: #B57E1D;
}

.nav-colour {
    background-color:#41B45A;
    height: 50px;
}
/* ---------------------------- shape */
.square {
    height: 150px;
    width: 150px;
    background-color: #555;
}

/* ---------------------------- hover.css */

.hvr-sweep-to-right:before {
    background-color: #15795b;
    height: 50px; 
    transition-duration: .5s;
}

